/* GALLERY PAGE */
.gallery {
  background-color: #000;  
  padding: 40px 8% 80px;
}

body{
    background-color: #000;
}

/* NAVBAR */
.navbar {
  height: 40px;
  margin-top: 12px;
  top: 24px;
  left: 0;
  padding: 22px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;     
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6);

  border-radius: 16px;
  z-index: 10;
}

/* LOGO */
.logo {
  font-size: 1.6rem;
  color: #2FE6E0;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 1.1 rem;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #2FE6E0;
}


.gallery-title {
  font-size: 3rem;
  color: #2FE6E0;
  margin-bottom: 10px;
}

.gallery-subtitle {
  font-size: 1.1rem;
  color: #aaa;
  margin-bottom: 50px;
}

/* GRID */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


.category-card {
  position: relative;
  height: 280px;
  overflow: hidden;
  border-radius: 14px;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  object-position: center;
  transition: transform 0.4s ease;
  filter: brightness(1);
  
}

.category-card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.64);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card h3 {
  color: #2FE6E0;
  font-size: 1.6rem;
  font-weight: 400;
}

/* hover */
.category-card:hover img {
  transform: scale(1.05);
  filter: brightness(1);
}


.site-footer {
  padding: 32px 8%;
  background-color: #000;
  text-align: center;
}

.footer-title {
  color: #e6e6e6;
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.footer-subtitle {
  color: #888;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
